/* colors: */

$beige: #e0e4bd;
$dark_green: #11514f;
$black_green: #062720;
$white_green: #b7decd;
$yellow_green: #cdcd55;
$light_green: #a5c159;
$orange: #e1ac4a;
$brown: #70511c;

@mixin title($size, $color) {
  font-size: $size;
  font-family: "Amatic sc";
  font-weight: 700;
  color: $color;
}

@mixin text($size, $color) {
  font-size: $size;
  font-family: "Oswald";
  font-weight: 400;
  color: $color;
}

@mixin button($width, $height) {
  width: $width;
  height: $height;
  background-color: $orange;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(112, 81, 28, 0.6);
  h2 {
    @include text(2.1rem, white);
    padding: 2%;
  }
}

@mixin rectangle($width, $height) {
  background-color: $white_green;
  width: $width;
  height: $height;
  border-radius: 20px;
}

/* LOGIN */

input {
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 1%;
  @include text(1.5rem, $dark_green);
}

.cross {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  left: 3%;
}

label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* LABEL GENERAL STYLING AND VALIDATION */

label {
  position: relative;
  display: grid;
  grid-template-columns: 90px 7px auto;
  @include text(1.8rem, white);
  input {
    position: relative;
    grid-column: 3/-1;
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 0;
  }
  span {
    font-size: 1.4rem;
    color: $orange;
    position: absolute;
    right: 5%;
    bottom: 0;
  }
  input:valid ~ .validated::after {
    position: absolute;
    bottom: 0;
    right: -10%;
    width: auto;
    height: auto;
    color: $light_green;
    text-align: center;
    content: "✓";
  }
  .wrong::after {
    position: absolute;
    color: $brown;
    width: auto;
    height: 30px;
    right: -10%;
    top: 0;
    z-index: 30;
    text-align: center;
  }
}

/* MODAL GENERAL STYLE */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  @include rectangle(90vw, 90vh);
  z-index: 30;
  padding: 7% 4% 5% 4%;
  background-color: $yellow_green;
  opacity: 0.95;
  background-blend-mode: multiply;
  @include text(1.8rem, white);

  h2 {
    font-size: 3.5rem;
    height: fit-content;
    grid-row: 1/2;
  }

  a {
    width: fit-content;
    height: fit-content;
    img {
      width: 25px;
      height: 25px;
    }
  }

  a:hover {
    color: $dark_green;
  }

  .submit {
    @include button(100%, 45px);
    @include text(1.8rem, white);
  }

  #main-register-form {
    width: 100%;
    height: 100%;
  }

  .soMe-account {
    grid-row: 8/9;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 50px 50px auto;
    p {
      grid-column: 1/2;
      align-self: center;
    }
    a {
      place-self: center;
    }
  }

  .register-form,
  .login-form,
  .first-donation-modal,
  .credit-card-details {
    overflow-y: scroll;
    padding: 1% 3%;
    width: 50%;
    height: 100%;
    display: grid;
    grid-gap: 2%;
  }

  .register-form,
  .login-form {
    grid-template-rows: 4.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 2fr;
  }

  .register-form {
    .terms {
      font-size: 1.3rem;
      width: 100%;
      align-self: end;
    }
    .submit-row {
      grid-row: 9/10;
      display: grid;
      grid-template-columns: 200px auto;
      align-self: end;
      label {
        margin: 0;
        height: fit-content;
        font-size: 1.5rem;
        grid-column: 1/2;
        width: 100%;
        align-self: end;
        justify-self: start;
        input {
          margin: 0;
          width: 10%;
          opacity: 0;
        }
      }
      .submit {
        grid-column: 2/3;
        align-self: center;
        justify-self: end;
        width: 90%;
        p {
          padding: 1rem;
          height: 100%;
        }
      }
      .newsletter {
        display: block;
        grid-row: 1/-1;
        grid-column: 1/2;
        place-self: center;
      }
    }
  }

  .login-form {
    float: left;
    .submit {
      width: 50%;
      grid-row: 9/-1;
      align-self: end;
      justify-self: end;
    }
    a {
      justify-self: end;
      text-decoration: underline;
    }
  }

  .mobile-bottom-modalMenu {
    display: none;
  }
}

/* SECOND PHASE REGISTERING AND PAYMENT */
.modal {
  #main-register-form {
    .first-donation-modal {
      float: left;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4.5fr 2fr 2fr 2fr 1fr 2fr 2fr 0.5fr;
      grid-gap: 4%;

      label {
        position: relative;
        /* Hide the browser's default radio button */
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
      }
      .recurrent {
        grid-row: 2/3;
      }
      .tree-number-container {
        grid-row: 3/4;
      }
      .location {
        grid-row: 5/6;
      }
      .countries {
        grid-row: 6/7;
        height: 45px;
        h3 {
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .countries2 {
        grid-row: 7/8;
        height: 45px;
        h3 {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .credit-card-details {
    grid-template-rows: auto 25px 25px 25px 25px auto 50px auto;
    float: right;

    .submit {
      width: 50%;
      grid-row: 7/8;
      justify-self: end;
      align-self: center;
    }
  }
}

.credit-card-details {
  label {
    grid-template-columns: 120px 7px auto;
  }
  grid-template-rows: 70px auto 25px 25px 25px 25px 25px auto 55px auto 35px 50px;
}

/*CONGRATULATION SCREEN*/
.modal {
  .congrats-part {
    padding: 5% 10%;
    height: 100%;
    h1 {
      @include title(3.5rem, white);
    }
    p {
      @include text(2.1rem, white);
      span {
        font-weight: bold;
      }
      .span-green {
        color: $dark_green;
        font-weight: 500;
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
    .congrats-part-title {
      position: relative;
      display: grid;
      grid-template-columns: 3fr 1fr;
      h1,
      p {
        grid-column: 1/3;
        justify-self: center;
      }

      img {
        position: absolute;
        grid-column: 2/-1;
        align-self: end;
        height: 70%;
      }
    }
    .first-badge {
      display: grid;
      grid-template-columns: 1fr 3fr;
      .span-green {
        @include title(2.5rem, $dark_green);
      }
      div {
        align-self: center;
        p {
          margin-left: 5%;
        }
      }
    }
    .congrats-info {
      width: 60%;
      margin-left: 20%;
      text-align: center;
    }
    #myForest-button {
      @include button(250px, 45px);
      float: right;
      margin-right: calc(50% - 125px);
      padding: 1rem;
      margin-top: 7%;
    }
  }
}

/* PLANT A TREE PROFILE */

.countries,
.countries2 {
  h3 {
    position: absolute;
    z-index: 10;
    width: 100%;
    // padding: 4%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
  }
}

.planttree-form {
  form {
    width: 100%;
    height: 100%;
  }

  .planttree-part {
    width: 100%;
    height: 100%;
    padding: 7% 5% 5% 5%;
    display: grid;
    grid-template-columns: 48% 48%;
    // grid-template-rows: 25px 50px auto 25px 50px 50px auto 50px;
    grid-template-rows: 1fr 2fr 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-gap: 4%;

    label {
      position: relative;
      /* Hide the browser's default radio button */
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  /* RADIO BUTTON STYLE */

  .location {
    align-self: end;
    font-size: 1.8rem;
    grid-row: 4/5;
  }

  .countries {
    grid-row-start: 5;
  }
  .countries2 {
    grid-row-start: 6;
  }

  .recurrent {
    align-self: end;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 100px 60px auto;
  }

  .newsletter {
    width: 100%;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 146px 30px auto;
  }
}
/* END OF PLANTTREE FORM NESTING */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11514f;
  border-radius: 10px;
  place-self: center;
}

.checkbox {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  background-color: $dark_green;
  place-self: center;
}

/* TREE NUMBER */

.tree-number-container {
  grid-column: -1/1;
  grid-row: 2/3;
  height: fit-content;
  display: grid;
  grid-template-columns: 14% 20% 14% 30% 20%;
  input {
    background-color: $dark_green;
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    @include text(1.5rem, white);
    justify-self: center;
    align-self: center;
  }

  p {
    align-self: center;
    justify-self: center;
    height: fit-content;
  }
  .price {
    width: 90%;
    height: 90%;
    background-color: $dark_green;
    padding: 3% 7%;
    border-radius: 3%;
    @include text(1.5rem, white);
    align-self: center;
    justify-self: center;
    text-align: center;
    p {
      height: 100%;
      padding: 10%;
    }
  }

  .minus,
  .plus {
    margin: 7%;
    width: 30px;
    height: 50px;
    display: inline-block;
    align-self: center;
    justify-self: center;
  }
}

/* SUBMIT BUTTON */

.plant-submit,
.submit {
  text-align: center;
  @include button(100%, 100%);
  @include text(1.8rem, white);
}

.plant-submit,
.newsletter {
  grid-row: 8/9;
  place-self: center;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
  background-color: rgba($black_green, 0.3);
}

/* When the radio button is checked, add a orange background */
label input:checked ~ .checkmark {
  @include button(100%, 100%);
}

/* On mouse-over, add a background color */
label:hover input ~ .checkbox {
  background-color: rgba($black_green, 0.3);
}

/* When the checkbox is checked, add a background */
label input:checked ~ .checkbox {
  @include button(25px, 25px);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* /////////CB PART/////////// */

.myforestCC {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 5%;
  padding: 5%;

  p {
    @include text(1.5rem, $dark_green);
    span {
      color: white;
      font-weight: bold;
    }
  }
  .button-row {
    grid-row: 8/9;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
    .go-back-plant {
      @include button(100%, 100%);
      @include text(1.8rem, white);
    }
    .go-back-plant,
    .submit {
      place-self: center;
      padding: 6%;
    }
  }
}
