/* colors: */

$beige: #e0e4bd;
$dark_green: #11514f;
$black_green: #062720;
$white_green: #b7decd;
$yellow_green: #cdcd55;
$light_green: #a5c159;
$orange: #e1ac4a;
$brown: #70511c;

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $beige;
}

/* 1 rem = 10 px */
:root {
  font-size: 62.5%;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.getstarted {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover,
.getstarted:hover,
.submit:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

svg {
  width: auto;
  height: 100%;
  grid-column: 1/2;
  justify-items: center;
  align-items: center;
  #logo {
    path {
      fill: #126864;
    }
  }
}

/* MIXIN TEXT AND RECTANGLE STYLE */

@mixin title($size, $color) {
  font-size: $size;
  font-family: "Amatic sc";
  font-weight: 700;
  color: $color;
}

@mixin text($size, $color) {
  font-size: $size;
  font-family: "Oswald";
  font-weight: 400;
  color: $color;
}

@mixin button($width, $height) {
  width: $width;
  height: $height;
  background-color: $orange;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(112, 81, 28, 0.6);
  h2 {
    @include text(2.1rem, white);
    padding: 1rem;
  }
}

@mixin rectangle($width, $height) {
  background-color: $white_green;
  width: $width;
  height: $height;
  border-radius: 20px;
}

/* _________HEADER_____________ */

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(leaves-16.svg), url(landscape-16.svg);
  background-blend-mode: normal;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  .burguerMenu {
    display: none;
  }
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 1% 3%;
  display: grid;
  grid-template-columns: 110px 110px 110px 160px 110px auto 110px 110px;
  background-color: $beige;
  z-index: 20;
  .menu_link {
    @include text(1.5rem, $dark_green);
    width: fit-content;
    justify-self: center;
    align-self: center;
  }

  a:hover {
    color: $orange;
  }

  #log-in-link {
    grid-column: 7/8;
  }
  #log-out-link {
    grid-column: 7/8;
  }
  .mobile-cross {
    display: none;
  }
}

/* PROCESS EXPLANATIONS */

.process_infos {
  position: absolute;
  margin: auto;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 45%;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 80% 20%;
  grid-row-gap: 20%;

  .steps {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #step1 {
    background-image: url(process-24.svg);
  }
  #step2 {
    background-image: url(process-23.svg);
  }
  #step3 {
    background-image: url(process-25.svg);
  }

  h2 {
    @include title(3.7rem, white);
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding: 25% 15%;
    text-align: center;
  }
  .getstarted {
    @include button(300px, 45px);
    grid-column: 2/3;
    grid-row: 2/-1;
    place-self: center;
  }
}

/* CONTENT */

main {
  background-color: $black_green;
  width: 100vw;
  height: auto;
  padding: 1% 3% 10% 3%;

  h2 {
    @include title(3.8rem, white);
    grid-column: -1/1;
  }

  h3 {
    @include text(2.1rem, white);
    grid-column: -1/1;
  }

  p {
    @include text(1.8rem, white);
  }
}

.content {
  padding-top: 10%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 30%;
  display: grid;

  .forest-button,
  .forest-image {
    @include rectangle(100%, 380px);
    position: relative;
    p {
      position: absolute;
      bottom: 5%;
      right: 5%;
      @include title(3.5rem, white);
    }
  }
  .forest-button:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }
}

.forest-menu {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
}
.who-info {
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  .plantingtree-img {
    border-radius: 20px;
    background-image: url(./img/resize/planting1.jpg);
    background-size: cover;
    height: 300px;
  }
}
.why-info,
.forest-content {
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  .forest-image {
    grid-column: 2/-1;
    grid-row: 1/3;
  }
  h2 {
    grid-column: 1/2;
  }
  button {
    @include button(200px, 50px);
    @include text(1.8rem, white);
    border: none;
    margin-top: 10%;
  }
}

#brazil-small {
  background-image: url(./img/resize/amazonia.jpg);
  background-position: center;
}
#tanzania-small {
  background-image: url(./img/resize/kilimanjaro.jpg);
  background-position: center;
}
#usa-small {
  background-image: url(./img/resize/californiaforest.jpg);
  background-position: center;
}
#vietnam-small {
  background-image: url(./img/resize/rainforest.jpg);
  background-position: center;
}

#brazil-main {
  background: url(./img/resize/jungle.jpg);
  background-position: center;
}
#tanzania-main {
  background-image: url(./img/resize/kilimanjaro2.jpg);
  background-position: center;
}
#usa-main {
  background-image: url(./img/resize/americaforest.jpg);
  background-position: center;
}
#vietnam-main {
  background-image: url(./img/resize/vietnam.jpg);
  background-position: center;
}

footer {
  padding: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: $black_green;

  svg {
    width: 80%;
  }
  #logo {
    width: 100%;
    path {
      fill: white;
    }
  }
  .soMe-icons {
    text-align: center;
    grid-column: 2/4;

    .soMe-links {
      display: inline-block;
      width: 15%;

      img {
        width: 60%;
        padding: 10%;
      }
      img:hover {
        transform: scale(1.3);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .contact {
    text-align: right;
    padding: 10%;
    margin-left: 20px;
    grid-column: 4;
    h3 {
      @include title(3.5rem, white);
    }
    p {
      @include text(2rem, white);
    }
  }
}

.total-planted {
  position: fixed;
  width: fit-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 15px;
  right: 0;
  top: 12vh;
  text-align: center;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $dark_green;
  opacity: 0.9;
  h2 {
    @include text(2rem, white);
    display: inline;
    align-self: center;
  }
  img {
    display: inline-block;
    margin-left: 20%;
    height: 5vh;
  }
}

.recentDonations {
  height: 40vh;
  width: 100%;
  margin-top: 10%;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  .recentDonation-post {
    position: relative;
    background-color: $dark_green;
    border-radius: 20px;
    h2 {
      padding: 5%;
    }
    p {
      padding: 5%;
    }
    .recentDonation-date {
      position: absolute;
      bottom: 2%;
      right: 2%;
    }
  }
}

/* /////////// PROFILE PAGE ////////////*/

.icon {
  width: 20%;
  display: none;
}

#myForestsHeader {
  height: 10vh;
  background: none;
  background-color: $dark_green;
  svg {
    #logo {
      path {
        fill: white;
      }
    }
  }
  .menu {
    background-color: $dark_green;
    grid-template-columns: 110px 110px 110px 160px 110px auto 110px;
    #log-out-link {
      grid-column: 7/-1;
    }
    a {
      color: white;
    }
  }
}

.myForestsMain {
  width: 100vw;
  height: 90vh;
  padding: 5% 10%;
  background-color: $dark_green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 10;
  nav {
    width: 100%;
    height: 10%;
    display: grid;
  }
  a:hover {
    color: $dark_green;
  }
  a:active {
    color: $orange;
  }
  .thank-modal {
    position: absolute;
    width: 50%;
    height: 30%;
    top: 15%;
    left: 25%;
    border-radius: 10px;
    text-align: center;
    background-color: $dark_green;
    box-shadow: 5px 10px 5px rgba($black_green, 0.6);
    z-index: 10;
    h1 {
      @include title(3rem, white);
      margin-top: 10%;
      margin-bottom: 5%;
    }
    .continue-but {
      @include button(200px, 50px);
      @include text(2rem, white);
    }
  }
}

.show {
  animation: showUp 0.3s forwards ease-in;
}

@keyframes showUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
  }
}

.myForests {
  @include rectangle(100%, 100%);
  box-shadow: 5px 10px 5px rgba($black_green, 0.6);
  nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: fit-content;

    a {
      @include title(2.5rem, white);
      padding: 30px 0% 7px 0;
      text-align: center;
      border-bottom: 2px solid rgba(white, 0.7);
    }
  }
}

.my-forests-options {
  @include rectangle(100%, 100%);
  box-shadow: 5px 10px 5px rgba($black_green, 0.6);
  padding: 0% 5%;
  nav {
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    // border-bottom: 2px solid white;

    a {
      @include text(1.5rem, white);
      padding: 30px 0% 7px 0;
      text-align: center;
      border-bottom: 2px solid white;
    }
  }
}
.forest-selected {
  color: $dark_green !important;
  border-bottom: 2px solid $dark_green !important;
}

.options,
.game {
  width: 100%;
  height: 85%;
  margin-top: 5%;
}
.myForests {
  position: relative;
}
.game {
  position: absolute;
  bottom: 0;

  background-size: cover;
  background-position: bottom 0 center;
  background-attachment: local;
  background-repeat: no-repeat;
  border-radius: 3%;
  display: grid;
  grid-template-rows: 3fr 1fr;
  .badge {
    position: absolute;
    background-size: cover;
    background-position: bottom 0 center;
    background-attachment: local;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    right: 5%;
    top: 10%;
  }
  .badge-level1 {
    background-image: url("./img/badges/badge1.svg");
  }
  .badge-level2 {
    background-image: url("./img/badges/infantSeedlingBadge.svg");
  }
  .badge-level3 {
    background-image: url("./img/badges/juniorSapling.svg");
  }
  .badge-level4 {
    background-image: url("./img/badges/youngTree.svg");
  }
  .badge-level5 {
    background-image: url("./img/badges/matureTree.svg");
  }
  .badge-level6 {
    background-image: url("./img/badges/ancientTree.svg");
  }
}

.level0 {
  background-image: url("level0.svg");
}
.level1 {
  background-image: url("babySproutbg.svg");
}
.level2 {
  background-image: url("infantSeedlingbg.svg");
}
.level3 {
  background-image: url("juniorSapling.svg");
}
.level4 {
  background-image: url("youngTree.svg");
}
.level5 {
  background-image: url("matureTree.svg");
}
.level6 {
  background-image: url("ancientTree.svg");
}

.infos-game {
  grid-row: 2/3;
  margin: 0 10%;
  width: 80%;
  height: 100%;
}

.level-container {
  position: relative;
  width: 100%;
  height: 15px;
  margin-top: 20px;
  border: solid 2px white;
  border-radius: 10px;
  background-color: none;
}
.level {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: white;
}

/* CLASSES FOR JAVASCRIPT */

.hidden {
  display: none !important;
  visibility: hidden;
}
