@media only screen and (max-width: 768px) {
  /* colors: */

  $beige: #e0e4bd;
  $dark_green: #11514f;
  $black_green: #062720;
  $white_green: #b7decd;
  $yellow_green: #cdcd55;
  $light_green: #a5c159;
  $orange: #e1ac4a;
  $brown: #70511c;

  @mixin title($size, $color) {
    font-size: $size;
    font-family: "Amatic sc";
    font-weight: 700;
    color: $color;
  }

  @mixin text($size, $color) {
    font-size: $size;
    font-family: "Oswald";
    font-weight: 400;
    color: $color;
  }

  main {
    h2 {
      @include title(2.3rem, white);
    }
    p {
      @include text(1.5rem, white);
    }
    .content {
      margin-bottom: 30%;
      h2 {
        margin-bottom: 10%;
      }
      h3 {
        margin-bottom: 7%;
        @include text(1.8rem, white);
      }
      p {
        margin-bottom: 10%;
      }

      img {
        margin: 5% 0;
      }
      a {
        .forest-button {
          p {
            @include title(2.3rem, white);
          }
        }
      }
    }
  }

  /* HEADER */

  header {
    .burguerMenu-container {
      position: fixed;
      height: 10vh;
      width: 100%;
      background-color: $beige;
      z-index: 15;
      a {
        width: 5vw;
        height: 100%;
      }
      svg {
        width: auto;
        height: 100%;
        margin: 0;
        margin-left: 5%;
      }
      .burguerMenu {
        width: 35px;
        height: 30px;
        margin: 15px 20px;
        right: 0;
        position: fixed;
        cursor: pointer;
        display: inline-block;
        span {
          background-color: #fff;
          position: absolute;
          border-radius: 2px;
        }
        span:nth-child(1) {
          width: 100%;
          height: 4px;
          display: block;
          top: 0px;
          left: 0px;
        }
        span:nth-child(2) {
          width: 100%;
          height: 4px;
          display: block;
          top: 13px;
          left: 0px;
        }
        span:nth-child(3) {
          width: 100%;
          height: 4px;
          display: block;
          bottom: 0px;
          left: 0px;
        }
      }
    }

    svg {
      width: 60px;
      height: 60px;
      margin: 15px;
      #logo_mobile {
        path {
          fill: $dark_green;
        }
      }
    }

    .menu {
      position: fixed;
      padding: 0;
      display: block;
      width: 100%;
      height: 100vh;

      .menu_link {
        width: 100%;
        font-size: 2.2rem;
        padding: 5% 0;
      }

      a {
        display: block;
        text-align: center;
      }

      .mobile-cross {
        display: initial;
        position: absolute;
        width: 15%;
        right: 5%;
        top: 2%;
        img {
          width: 100%;
        }
      }

      #log-in-link {
        margin-top: 20%;
        grid-column: 1;
      }

      svg {
        display: block;
        width: 30%;
        height: auto;
        margin-left: 5%;
      }
    }
    /* end of menu */

    .process_infos {
      grid-template-columns: 100%;
      grid-template-rows: 28% 28% 28% 12%;
      grid-row-gap: 0%;
      margin-bottom: 0;
      bottom: 0;
      width: 100vw;
      height: 80vh;
      .steps {
        width: 40%;
      }
      #step1 {
        justify-self: start;
        margin-left: 10%;
      }
      #step2 {
        justify-self: end;
        margin-right: 10%;
      }
      #step3 {
        justify-self: start;
        margin-left: 10%;
      }
      .getstarted {
        width: 100%;
        height: 100%;
        grid-column: 1/-1;
        grid-row: 4/-1;
        align-self: end;
        margin: -5%;
      }
    }
  }

  /* END OF HEADER */

  /* MODAL MOBILE STILE */

  .modal {
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    overflow-y: scroll;
    padding: 0;

    h2 {
      display: none;
    }

    .soMe-account {
      grid-template-columns: 3fr 1fr 1fr;
      grid-row: 7/8;
      a {
        place-self: center;
      }
    }

    .register-form,
    .login-form {
      float: none;
      width: 100%;
      height: 85%;
      grid-template-rows: 25px 25px 25px 25px 25px 85px 55px auto;
      padding: 30% 10% 10% 10%;
      grid-row: 7%;
    }

    .register-form {
      .submit-row {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        grid-row: 8/-1;
        .newsletter {
          grid-row: 1/2;
          grid-column: 1/-1;
        }
        .submit {
          grid-row: 2/3;
          grid-column: 1/-1;
          p {
            padding: 6%;
          }
        }
      }
    }

    /* SECOND PHASE REGISTERING AND PAYMENT */
    #main-register-form {
      display: none;
      .planttree-form {
        // width: 100%;
        float: none;
      }
      .first-donation-modal {
        h2 {
          display: block;
        }
        width: 100%;
        padding: 30% 10% 10% 10%;

        .price {
          p {
            padding: 23%;
            height: fit-content;
          }
        }
        .countries,
        .countries2 {
          h3 {
            padding: 7%;
            height: fit-content;
          }
        }
      }
      .credit-card-details {
        width: 100%;
        height: 50%;
        padding: 0% 10% 10% 10%;
        grid-template-rows: 25px 25px 25px 25px 25px 50px;
        grid-gap: 6%;
        float: none;
        .submit {
          grid-row: 6/7;
        }
      }
    }

    /* CONGRATULATION SCREEN */
    .congrats-part {
      padding: 30% 10% 10% 10%;
      height: 100%;

      .congrats-part-title {
        position: relative;
        margin-bottom: 15%;
        h1 {
          grid-column: 1/3;
          justify-self: start;
        }
        p {
          justify-self: start;
        }
        img {
          position: absolute;
        }
      }

      .first-badge {
        grid-template-columns: none;
        grid-gap: 2%;
        margin-bottom: 10%;
        div {
          p {
            margin: 0;
          }
        }
        img {
          grid-row: 2/3;
          justify-self: end;
          width: 60%;
        }
      }
      .congrats-info {
        text-align: left;
        margin-bottom: 15%;
        margin: 0;
        width: 100%;
      }

      #myForest-button {
        width: 100%;
        // padding: 2.5% 20%;
        margin-right: 0;
      }
    }
    .mobile-bottom-modalMenu {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 12%;
      background-color: $yellow_green;
      border-top: white 1px solid;
      display: grid;
      grid-template-columns: 1fr 1fr;
      h2 {
        padding: 6%;
        display: block;
        text-align: center;
      }
    }
  }

  /* MAIN BODY FRONTPAGE */

  main {
    .content {
      display: block;
      height: 60%;
      .forest-image {
        height: 250px;
        margin: 10% 0;
        background-size: cover;
      }
    }
    .forest-menu {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      h2 {
        margin: 10% 0;
      }
      .forest-button {
        height: 100%;
        background-size: cover;
      }
    }
  }

  .recentDonations {
    display: block;
    text-align: center;
    height: auto;
    h2 {
      margin-bottom: 10%;
    }
    .recentDonation-post {
      height: 20vh;
      margin-bottom: 10%;
      h2 {
        margin: 0;
        text-align: left;
      }
      .donation-value {
        text-align: left;
        padding-top: 0;
      }
    }
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    svg {
      justify-self: center;
    }
    .contact {
      grid-column: 3;
    }
    .soMe-icons {
      grid-column: 2/3;
      text-align: center;
      .soMe-links {
        display: block;
        width: 60%;
        height: 30%;
        margin-left: 20%;
        margin-bottom: 7%;
        align-self: center;
        justify-items: center;
        img {
          width: 70%;
        }
      }
    }
  }
  .total-planted {
    display: none;
  }

  ///MY FOREST PAGE ///////*/

  .planttree-form {
    .planttree-part {
      padding-top: 5%;
      grid-template-rows: 25px 50px 25px 50px 50px 25px 50px;
      grid-gap: 4%;

      .location {
        grid-row: 3/4;
      }

      .countries {
        grid-row-start: 4;
        h3 {
          padding: 1.2rem 0;
        }
      }

      .countries2 {
        grid-row-start: 5;
        h3 {
          padding: 1.2rem 0;
        }
      }

      .recurrent {
        grid-template-columns: 70px 40px auto;
      }

      .price {
        p {
          padding: 1.2rem 0;
        }
      }

      .newsletter {
        grid-column: 1/-1;
        grid-row: 6/7;
      }

      .plant-submit {
        grid-column: 1/-1;
        grid-row: 7/8;
        justify-self: end;
      }
    }
  }
  /* END OF PLANTREE FORM */

  .myForestsMain {
    position: unset;
    display: block;
    height: 80vh;
    padding: 5% 5%;
    .myForest {
      display: block;
      height: 100%;
      width: 100%;
    }
    .my-forests-options {
      display: none;
      height: 100%;
      width: 100%;
      nav {
        height: 10%;
        width: 100%;
        a {
          padding: 1.2rem 0 0.5rem 0;
          place-self: center;
          font-size: 1.2rem;
        }
      }
    }
    .credit-card-details {
      grid-template-rows: auto auto 25px 25px 25px 25px auto 55px;
      .button-row {
        grid-row: 8/9;
        .go-back-plant,
        .submit {
          padding: 1.5rem;
        }
      }
    }
    .game {
      .infos-game {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .mobile-bottom-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 10vh;
    background-color: #11514f;
    h2 {
      @include title(2rem, white);
      text-align: center;
      padding: 10%;
    }
  }

  /* END MEDIA QUERY*/
}
