@media only screen and (max-width: 450px) {
  @mixin title($size, $color) {
    font-size: $size;
    font-family: "Amatic sc";
    font-weight: 700;
    // line-height: 3.1rem;
    // font-style:italic;
    color: $color;
  }

  header {
    background-image: none;
    height: 10%;
    .burguerMenu {
      width: 35px;
      height: 30px;
      margin: 30px 30px;
      position: fixed;

      cursor: pointer;
      display: inline-block;
      span {
        background-color: #fff;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      }
      span:nth-child(1) {
        width: 100%;
        height: 4px;
        display: block;
        top: 0px;
        left: 0px;
      }
      span:nth-child(2) {
        width: 100%;
        height: 4px;
        display: block;
        top: 13px;
        left: 0px;
      }
      span:nth-child(3) {
        width: 100%;
        height: 4px;
        display: block;
        bottom: 0px;
        left: 0px;
      }
    }
    .menu {
      position: fixed;

      padding: 0;
      display: block;
      width: 100%;
      height: 100vh;

      .menu_link {
        width: 100%;
        font-size: 2.2rem;
        padding: 5% 0;
      }
      a {
        display: block;
        text-align: center;
      }
      .mobile-cross {
        display: initial;
        position: absolute;
        width: 15%;
        right: 5%;
        top: 2%;

        img {
          width: 100%;
        }
      }
      #log-in-link {
        margin-top: 20%;
        grid-column: 1;
      }
      svg {
        display: block;
        width: 30%;
        height: auto;
        margin-left: 5%;
      }
    }
    .process_infos {
      display: none;
    }
  }
  .modal {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    .login-form {
      width: 100%;
      padding-top: 20%;

      float: none;
    }
    .register-form {
      width: 100%;
      padding-top: 20%;
      float: none;
    }
    #main-register-form {
      display: none;
      .planttree-form {
        width: 100%;
        float: none;
      }
      .credit-card-details {
        width: 100%;
        float: none;
      }
    }
    .congrats-part {
      .congrats-part-title {
        margin-bottom: 10%;
      }
      .first-badge {
        margin-bottom: 5%;
      }
      .congrats-info {
        margin-bottom: 10%;
      }
      #myForest-button {
        padding: 2.5% 20%;
      }
    }
    .mobile-bottom-modalMenu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      h2 {
        text-align: center;
      }
    }
  }

  main {
    .content {
      display: block;
      .forest-image {
        height: 250px;
        margin: 10% 0;
        background-size: cover;
      }
    }
    .forest-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .forest-button {
        height: 180px;

        background-size: cover;
      }
    }
  }

  .recentDonations {
    display: block;
    text-align: center;
    height: auto;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    svg {
      justify-self: center;
    }
    .contact {
      grid-column: 3;
    }
    .soMe-icons {
      grid-column: 2/3;
      text-align: center;
      .soMe-links {
        display: block;
        width: 60%;
        height: 30%;
        margin-left: 20%;
        margin-bottom: 7%;
        align-self: center;
        justify-items: center;
        img {
          width: 70%;
        }
      }
    }
  }
  .total-planted {
    display: none;
  }

  ///MY FOREST PAGE

  .myForestsMain {
    position: unset;
    display: block;
    height: 80vh;
    padding: 5% 5%;
    .myForest {
      display: block;
      height: 80vh;
    }
    .my-forests-options {
      display: none;
      height: 80vh;
    }
  }
  .mobile-bottom-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 10vh;
    background-color: #11514f;
    h2 {
      @include title(2rem, white);
      text-align: center;
      padding: 10%;
    }
  }
}
